body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #85E1E0;
    overflow: hidden;
    margin: 0;

    zoom: 95%;
    transform: scale(0.5);
}


#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    
}

.header_text {
    font-family: 'Helvetica';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 20px;
    
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 20px 45px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    margin: 4px -25px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}


